<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="header">
        <h1>Login</h1>
    </div>
    <div class="form-container">
        <form method="post">
            <input type="email" name="email" required placeholder="Enter Email">
            <input type="password" name="password" required placeholder="Enter Password">
            <button type="submit" class="task-btn">Login</button>
            Don't have an account? <a href="/register">Register here</a>.
        </form>
    </div>
</body>
</html>
